* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #363636;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 3px #aaa;
  background-image: linear-gradient(180deg,#243954, 40%, #385780);
}

nav a {
  display: block;
  min-width: 6rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 3px #B59521;
  background-color: #FACE2D;
  text-align: center;
  text-decoration: none;
  font-size:125%; 
  color: #363636;
}

nav a[aria-current='page'] {
  color: #363636;
  background-color: #FACE2D;
}

main {
  padding: 1rem;
  color: #363636;
}

h1 {
  font-weight: bold;
  font-size: 200%;
}
/*above, 200% is the same as 2rem*/
.FWR {
  font-family: Geneva, sans-serif;
  border: solid 3px #B59521;
}
nav a:hover {
  background: grey;
  color: white;
  cursor: pointer;
}
strong {
  font-size: 150%;
}
label {
  display: block;
  margin: 0.5rem 0;
}
p {
  font-size:135%;
}
.Alink {
  font-size: 150%;
}
footer {
  color: #bbb;
  background-color: #385780;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}
#footer-link {
  color: #bbb;
}

/**/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*end of photo-specific copied code*/

.slideshow-container {
  display: block;
  margin: auto;
  width: 40%;
}
#photos {
  text-align: center;
}
.dot {
  margin-left: auto;
  margin-right: 0;
}
#review {
  width: 50%;
  display: none;
}
/**/
form, input {
  font-family: sans-serif;
}
fieldset {
  border: solid 3px #385780;
  font-family: system-ui, sans-serif;
}

#submit {
  background-color: #385780;
  border: 3px solid #aaa;
  color: #f2f2f2;
  height: 30px;
  width: 90px;
}
#submit:hover {
  background-color: #aaa;
}
small {
  font-family: sans-serif;
}
.homepic {
  width: 30rem;
  margin: auto;
  align-content: center;
  border: 4px solid #FACE2D;
  border-radius: 30px;
}